@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root{
 --gold1:#F4BD76;
 --gold2:#F6CD8F;
 --gray1:#FFFFFF80;
 --gray2:#0eaa0990;
 --black1:hsl(228, 9%, 11%);
 --black2:#ee0202;
 --shadow 0 8px 8px;
 --color_shadow:#00000033;
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
 font-family: 'Roboto', sans-serif;
}
.contenedor{
 width: 90%;
 max-width: 1200px;
 margin: 0 auto;
 overflow: hidden;
 padding: 100px 0;
 height: auto;
}
.contenedor_modificar{
 width: 60%;
}
.seccion_cabecera{
 width: 100%;
 min-height: 100vh;
 background: linear-gradient(180deg, #30353B 0%, #1A1B1F 100%);
}
.menu{
 color: #fff;
 height: 70px;
 border-bottom: 1px solid rgba(255,255,255,0.2);
}
.menu_contenedor{
 display: flex;
 align-items: center;
 justify-content: space-between;
 height: inherit;
 padding: 0;
}
.logo_nombre{
 font-size: 30px;
}
.enlace{
 display: inline-block;
 color: inherit;
 text-decoration: none;
 font-weight: 300;
 padding: 10px;
}
.enlace_activo{
 color: var(--gold1);
 font-weight: 700;
}
.punto{
 color: var(--gold1);
}
.cabecera_menu{
 height: calc(100vh - 70px);
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0;
}
.mockup{
 object-fit: cover;
 /*height: calc(100vh - 70px);*/
 width: 50%;
 max-height: 90vh;
}
.cabecera_textos{
 width: 50%;
}
.titulo{
 font-size: 50px;
 font-weight: 300;
 color: #fff;
}
.titulo_activo{
 color: var(--gold1);
 font-weight: 700;
}
.copia{
 font-size: 24px;
 color: var(--gray1);
 text-shadow: var(--shadow) var(--color_shadow);
 margin: 25px 0;
}
.copia_activa{
 font-weight: 700;
}
.cta{
 padding: 20px 30px;
 display: inline-block;
 background: linear-gradient(180deg, #F7CE90 0%, #F48D76 100%);
 text-decoration: none;
 color: var(--black2);
 font-weight: 700;
 box-shadow: var(--shadow) var(--color_shadow);
 border-radius: 6px;
}
